* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding-top: 2rem;
}

#chatbox {
  height: 300px;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  align-items: stretch;
  padding: 1em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  word-break: break-word;
}

#chatbox div {
  background-color: #eaeaea;
  color: black;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  /* max-width: 70%; */
}

#chatbox div.user-message {
  float: right;
  background-color: #f4b400;
  color: white;
}

#userInput {
  width: calc(100% - 100px);
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
}

button[type="submit"] {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
