* {
  box-sizing: border-box;
}

html {
  display: flex;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding-top: 2rem;
  /* gap: 20px; */
}

#chatbox {
  height: 300px;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  align-items: stretch;
  padding: 1em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  word-break: break-word;
}

#chatbox div {
  background-color: #eaeaea;
  color: black;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  /* max-width: 70%; */
}

#chatbox div.user-message {
  float: right;
  background-color: #f4b400;
  color: white;
}

#chat-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

#chat-form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#userInput,
#temperatureInput {
  width: calc(100% - 100px);
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
  margin: 0, 10px, 0, 10px;
}

button[type="submit"] {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

h2 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px; /* Пространство между заголовком и прогрессбаром */
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 0.5rem;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
  margin-top: 1rem; /* Верхний отступ для лучшей читаемости */
  margin-bottom: 1rem;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
}
